### git ###

!.gitkeep
!.gitignore

### adobe ###

.bridge*

### archive ###

*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.tgz
*.zip

### bin ###

*.com
*.dll
*.exe
*.o
*.so

### compile ###

build
dist
doc/analyze
doc/coverage
doc/typedoc

### ide ###

*.iml
.idea

### java ###

*.class
*.jar
*.war
.gradle
.sonar

### javascript ###

.awcache
.nyc_*
.webpack.json
bower_components
node_modules

### mac ###

*.db
.DS_Store
.Spotlight*
.Trashes
._*

### sass ###

.sass-cache

### tmp ###

*.lock
*.log
*.pid
*.swp
logs
pids
tmp




