{
  "sourceMap" : true ,
  "instrument" : true ,
  "report-dir" : "doc/coverage" ,

  "include" : [ "src/**/*.ts" ] ,
  "exclude" : [ "src/**/*.spec.ts" ] ,

  "require" :
  [
    "ts-node/register" ,
    "source-map-support/register"
  ] ,

  "reporter" :
  [
    "lcov" ,
    "text-summary" ,
    "html"
  ] ,

  "extension" :
  [
    ".tsx" ,
    ".ts"
  ]

}
